<div class="banner">
    <div class="container">
       <p>Sauced is a cooking event that happens in your kitchen, with your friends, using your tools to create fantastic, homemade meals. We'll work with you to plan and implement a menu and experience that can be as hands-on (or hands-free) as you'd like.</p>
    </div>
</div>
<div class="wrapper">
</div>
