<div class="banner">
    <div class="container">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dapibus tempus dapibus. Morbi quam arcu, condimentum non porttitor id, condimentum ut mauris. In a lorem ut augue dictum ornare aliquet adipiscing augue. Nullam in libero gravida, porta arcu quis, blandit ante.</p>
        <a href="#" class="btn btn-large btn-danger">Let's Get Saucy!</a>
    </div>
</div>
<div class="splash">
</div>
