<div class="banner">
    <div class="container">
       <p>We will help you pick a menu that suits the tastes and cooking level of your guests. Below are several example menus for you to get an idea about what kinds of dishes you can learn to cook.</p>
    </div>
</div>
<div class="wrapper">
      <ul class="nav nav-tabs nav-justified">
         <li class="active"><a href="#">Tapas Party</a></li>
         <li><a href="#">Homemade Italian</a></li>
         <li><a href="#">Cajun / Creole</a></li>
         <li><a href="#">Vietnamese</a></li>
         <li><a href="#">Thai</a></li>
         <li><a href="#">French</a></li>
         <li><a href="#">Argentinian</a></li>
      </ul>
   <div class="jumbotron">
      <div class="container">
         <h2>Sample Menu</h2>
         <ul class="menu">
            <li class="menu-section">
               <h1>Appetizers</h1>
               <ul class="menu-section-items">
                  <li class="menu-item"><span class="title">Item 1</span><span class="description">Description</span></li>
                  <li class="menu-item"><span class="title">Item 2</span><span class="description">Description</span></li>
                  <li class="menu-item"><span class="title">Item 3</span><span class="description">Description</span></li>
               </ul>
            </li>
            <li class="menu-section">
               <h1>Main Courses</h1>
               <ul class="menu-section-items">
                  <li class="menu-item"><span class="title">Item 1</span><span class="description">Description</span></li>
                  <li class="menu-item"><span class="title">Item 2</span><span class="description">Description</span></li>
                  <li class="menu-item"><span class="title">Item 3</span><span class="description">Description</span></li>
               </ul>
            </li>
            <li class="menu-section">
               <h1>Desserts</h1>
               <ul class="menu-section-items">
                  <li class="menu-item"><span class="title">Item 1</span><span class="description">Description</span></li>
                  <li class="menu-item"><span class="title">Item 2</span><span class="description">Description</span></li>
                  <li class="menu-item"><span class="title">Item 3</span><span class="description">Description</span></li>
               </ul>
            </li>
         </ul>
      </div>
   </div>
</div>
