<div class="wrapper">
   <div class="jumbotron">
      <div class="container">
         <h3>Please call 847-226-5225 for pricing.</h3>
         <br/>
         <p>All events include:</p>
         <ul>
            <li>A kitchen consultation in your home two weeks before the event to desgin a class around your space</li>
            <li>Grocery shopping for the class, using a reasonable, agreed-upon budget, at a store of your choosing</li>
            <li>Arrival an hour early to help set up the kitchen</li>
            <li>Cleanup of prep dishes (cleanup after the event can also be arranged)
         </ul>
      </div>
   </div>
</div>
