<div class="footer">
    <div class="container">
        <ul>
            <li>&copy; 2014 Sauced Events</li>
            <li>847.226.5225</li>
            <li>saucedevents@gmail.com</li>
        </ul>
    </div>
</div>
