<div class="footer">
    <div class="container">
        <ul>
            <li>&copy; 2014 Sauced Events</li>
            <li>1-888-YOUR-NUMBER</li>
            <li>EmailAddress@domain.com</li>
        </ul>
    </div>
</div>
