<nav class="navbar navbar-default" role="navigation">
   <div class="wrapper">
      <div class="navbar-header">
         <a class="navbar-brand" href="/">Sauced (replace with actual logo)</a>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
         <ul class="nav navbar-nav"></ul>
         <ul class="nav navbar-nav navbar-right">
            <li><a href="/menu">Menus</a></li>
            <li><a href="/contact">Contact</a></li>
         </ul>
      </div>
   </div>
</nav>
