/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body {
   margin: 0;
   padding: 0;
}

body {
   background: url(polenta.jpg) no-repeat top #eee;
   background-size: cover;
}

/* Common Styling Elements */

.wrapper {
   max-width: 1010px;
   margin: 0 auto;
}

/* Boostrap Overrides */

.navbar.navbar-default {
   background-color: #AF2B2E;
   border-color: #fff;
   background-image: none;
   background-image: none;
   background-repeat: none;
   border-radius: 0;
   border: none;
   border-bottom: 10px solid #5F1515;
   -webkit-box-shadow: none;
   box-shadow: none;
}

.navbar.navbar-default .navbar-brand, .navbar.navbar-default .navbar-nav>li>a, .navbar-nav>li>a, .navbar-nav > li > a {
   color: #fff;
   text-shadow: none;
}

.navbar.navbar-default .navbar-brand:hover, .navbar.navbar-default .navbar-nav>li>a:hover, .navbar-nav>li>a:hover, .navbar-nav > li > a:hover {
   color: #ddd;
}
