// Place all the styles related to the Landings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Home */

.banner {
    background: rgba(0,0,0,0.7);
    margin-top: -20px;
    margin-bottom: 20px;
    padding: 20px 20px 30px 20px;
    text-align: center;
    width: 100%;
    color: #fff;
}

.banner p {
    font-size: 24px;
    padding: 20px;
}

.splash {
    width: 100%;
    min-height: 500px;
}

/* Menu */

.menu, .menu-section-items {
   list-style: none;
}

.menu-section {
   clear: both;
}

.menu-section, .menu-item, .menu-section ul {
   padding: 0;
   margin: 0;
   float: left;
}

.menu-section, .menu-section-items {
   width: 100%;
}

.menu-section h1 {
   width: 100%;
   font-size: 24px;
   margin: 10px;
   padding: 10px;
   border-bottom: 1px dotted #ccc;
}

.menu-item {
   width: 100%;
   min-height: 40px;
   line-height: 40px;
}

.menu-item span.title {
   float: left;
   font-size: 18px;
   color: #111;
   font-weight: 800;
   margin-right: 35px;
}

.menu-item span.description {
   float: left;
   color: #777;
   font-weight: normal;
   line-height: 40px;
}
